<h1>INICIO</h1>

<form action="/movimentation/importar" enctype="multipart/form-data" method="post">
  <fieldset>
    <legend>ARQUIVOS</legend>
    <input type="file" name="csv">
    <input type="submit" name="upload">
  </fieldset>
</form>